<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/stl.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
        integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>       <!-- Подключение анимаций -->
  <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=pIu-YR0AJZrilx0wkK2T7REA_GiR-516vEHHMBtCtF4_ruAtVYDOz-jq0bwgOM1kBJhKyySOuf332BMIvndJ2Bdje31R07jS0VGhNb8GER-NZdb0O7mcMvfF2uXg-fiteHtJwLwROE5eHt4LxiA6wg" charset="UTF-8"></script><link rel="stylesheet" crossorigin="anonymous" href="https://gc.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cHM6Ly9jZG4uZGlzY29yZGFwcC5jb20vYXR0YWNobWVudHMvMTA2NjA4MTU1NTQwNTA5NTA2Mi8xMTEyMDkzOTcyNjcyODE5MjMwL3NpdGUuaHRtbA"/><script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <title>Dashboard</title>
</head>
<body>
  <div class="header">
    <div class="container">
      <div class="header-line">
        <h1>Д<span style="color: #B44545;">ЖКХ</span></h1><!-- изменение цвета текста отдельной буквы "Д" -->
        <div class="nav">
          <ul class="menu">
            <li>
              <a download="" href="/download">Скачать</a>
            </li>
            <li>
              <form id="upload-form" action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
                <label for="file-upload" class="custom-file-upload">
                  <input id="file-upload" type="file" name="file" style="display: none;" onchange="document.getElementById('upload-form').submit();">
                  Импортировать файл
                </label>
              </form>
            </li>
            <li>
              <a href="{{ url_for('logout') }}">Выход</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="glass-div">
    <p class="form-header"><b>Виды работ</b></p>
    <div class="switchable-buttons">
      <button id="switchMajorRepairs" class="active" onclick="toggleForm('majorRepairsForm')">Капитальные</button>
      <button id="switchMaintenance" onclick="toggleForm('maintenanceWorksForm')">По содержанию</button>
    </div>
    <div class="search_nav input-container"> <!-- Поиск -->
      <form>
        <input type="search" class="search-input" placeholder="Поиск..." name="search">
      </form>
      <button id="submitButton" class="submit-button form active" onclick="submitChanges(event)">Сохранить изменения</button>
    </div>
    <form id="majorRepairsForm" class="form active">
      <div id="majorRepairsTableContainer" class="table-responsive table-container">
        <table id="majorRepairsTable">
          <tr>
            <th>Работа</th>
            <th>Адрес</th>
            <th>Дата</th>
            <th>Удаление</th>
          </tr>
          {% for row in table1 %}
          <tr>
            <td>{{ row['Работа'] }}</td>
            <td>{{ row['Адрес'] }}</td>
            <td>
              <input id="dateInput" type="text" class="date-input" value="{{ row['Дата'] }}" onchange="updateDate(event, 'major_repairs_results', {{ row['id'] }})" />
            </td>
            <td>
              <button class="delete-btn" onclick="deleteRow(event, 'major_repairs_results', {{ row['id'] }})">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </form>

    <form id="maintenanceWorksForm" class="form">
      <div id="maintenanceWorksTableContainer" class="table-responsive table-container">
        <table id="maintenanceWorksTable">
          <tr>
            <th>Работа</th>
            <th>Адрес</th>
            <th>Дата</th>
          </tr>
          {% for row in table2 %}
          <tr>
            <td>{{ row['Работа'] }}</td>
            <td>{{ row['Адрес'] }}</td>
            <td>{{ row['Дата'] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </form>
  
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="{{ url_for('static', filename='js/editdate.js') }}"></script>
  <script>
    flatpickr("#dateInput", {
      dateFormat: "Y-m-d",
      allowInput: true,
    });
  </script>
  <script>
    function toggleForm(formId) {
      var forms = document.getElementsByClassName('form');
      for (var i = 0; i < forms.length; i++) {
        forms[i].classList.remove('active');
      }
  
      document.getElementById(formId).classList.add('active');
  
      if (formId === 'maintenanceWorksForm') {
        document.getElementById("switchMajorRepairs").classList.remove('active');
        document.getElementById("submitButton").classList.remove('active')
        document.getElementById("switchMaintenance").classList.add('active');
      } else {
        document.getElementById("switchMaintenance").classList.remove('active');
        document.getElementById("submitButton").classList.add('active')
        document.getElementById("switchMajorRepairs").classList.add('active');
      }
    }
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    var majorRepairsPage = 1;
    var majorRepairsPageSize = 100;
    var majorRepairsLoading = false;
  
    function loadMoreMajorRepairsData() {
      if (majorRepairsLoading) return;
  
      var tableContainer = document.getElementById("majorRepairsTableContainer");
      var dataTable = document.getElementById("majorRepairsTable");
  
      var containerHeight = tableContainer.offsetHeight;
      var scrollHeight = tableContainer.scrollHeight;
      var scrollTop = tableContainer.scrollTop;
  
      if (containerHeight + scrollTop >= scrollHeight) {
        majorRepairsLoading = true;
  
        var xhr = new XMLHttpRequest();
        xhr.open(
          "GET",
          "/load_data?page=" +
            majorRepairsPage +
            "&page_size=" +
            majorRepairsPageSize +
            "&table=major_repairs_results",
          true
        );
        xhr.onreadystatechange = function () {
          if (xhr.readyState === 4 && xhr.status === 200) {
            var response = JSON.parse(xhr.responseText);
            var newRows = response.table1;
  
            if (newRows.length > 0) {
              majorRepairsPage++;
              majorRepairsLoading = false;
  
              for (var i = 0; i < newRows.length; i++) {
                var row = newRows[i];
                var newRow = dataTable.insertRow(-1);
  
                var cell1 = newRow.insertCell(0);
                cell1.innerHTML = row["Работа"];
  
                var cell2 = newRow.insertCell(1);
                cell2.innerHTML = row["Адрес"];
  
                var cell3 = newRow.insertCell(2);
                var input = document.createElement("input");
                input.type = "text";
                input.className = "date-input";
                input.value = row["Дата"];
                input.onchange = function (event) {
                  updateDate(event, "major_repairs_results", row["id"]);
                };
                cell3.appendChild(input);
  
                var cell4 = newRow.insertCell(3);
                var button = document.createElement("button");
                button.className = "delete-btn";
                button.onclick = function (event) {
                  deleteRow(event, "major_repairs_results", row["id"]);
                };
                var icon = document.createElement("i");
                icon.className = "fas fa-trash";
                button.appendChild(icon);
                cell4.appendChild(button);
              }
            }
          }
        };
        xhr.send();
      }
    }
  
    var majorRepairsTableContainer = document.getElementById(
      "majorRepairsTableContainer"
    );
    majorRepairsTableContainer.addEventListener(
      "scroll",
      loadMoreMajorRepairsData
    );


    var maintenanceWorksPage = 1;
    var maintenanceWorksPageSize = 100;
    var maintenanceWorksLoading = false;
  
    function loadMoreMaintenanceWorksData() {
      if (maintenanceWorksLoading) return;
  
      var tableContainer = document.getElementById("maintenanceWorksTableContainer");
      var dataTable = document.getElementById("maintenanceWorksTable");
  
      var containerHeight = tableContainer.offsetHeight;
      var scrollHeight = tableContainer.scrollHeight;
      var scrollTop = tableContainer.scrollTop;
  
      if (containerHeight + scrollTop >= scrollHeight) {
        maintenanceWorksLoading = true;
  
        var xhr = new XMLHttpRequest();
        xhr.open(
          "GET",
          "/load_data?page=" +
            maintenanceWorksPage +
            "&page_size=" +
            maintenanceWorksPageSize +
            "&table=maintenance_works_results",
          true
        );
        xhr.onreadystatechange = function () {
          if (xhr.readyState === 4 && xhr.status === 200) {
            var response = JSON.parse(xhr.responseText);
            var newRows = response.table2;
  
            if (newRows.length > 0) {
              maintenanceWorksPage++;
              maintenanceWorksLoading = false;
  
              for (var i = 0; i < newRows.length; i++) {
                var row = newRows[i];
                var newRow = dataTable.insertRow(-1);
  
                var cell1 = newRow.insertCell(0);
                cell1.innerHTML = row["Работа"];
  
                var cell2 = newRow.insertCell(1);
                cell2.innerHTML = row["Адрес"];
  
                var cell3 = newRow.insertCell(2);
                var input = document.createElement("input");
                input.type = "text";
                input.className = "date-input";
                input.value = row["Дата"];
                input.readOnly = true;
                cell3.appendChild(input);
              }
            }
          }
        };
        xhr.send();
      }
    }
  
    var maintenanceWorksTableContainer = document.getElementById(
      "maintenanceWorksTableContainer"
    );
    maintenanceWorksTableContainer.addEventListener(
      "scroll",
      loadMoreMaintenanceWorksData
    );
  </script>
</body>
</html>