<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/stl.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
        integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>       <!-- Подключение анимаций -->
  <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=pIu-YR0AJZrilx0wkK2T7REA_GiR-516vEHHMBtCtF4_ruAtVYDOz-jq0bwgOM1kBJhKyySOuf332BMIvndJ2Bdje31R07jS0VGhNb8GER-NZdb0O7mcMvfF2uXg-fiteHtJwLwROE5eHt4LxiA6wg" charset="UTF-8"></script><link rel="stylesheet" crossorigin="anonymous" href="https://gc.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cHM6Ly9jZG4uZGlzY29yZGFwcC5jb20vYXR0YWNobWVudHMvMTA2NjA4MTU1NTQwNTA5NTA2Mi8xMTEyMDkzOTcyNjcyODE5MjMwL3NpdGUuaHRtbA"/><script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <title>Dashboard</title>
</head>
<body>
  <div class="header">
    <div class="container">
      <div class="header-line">
        <h1>Д<span style="color: #B44545;">ЖКХ</span></h1><!-- изменение цвета текста отдельной буквы "Д" -->
        <div class="nav">
          <ul class="menu">
            <li>
              <a download="" href="#">Скачать</a>
            </li>
            <li>
              <form id="upload-form" action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
                <label for="file-upload" class="custom-file-upload">
                  <input id="file-upload" type="file" name="file" style="display: none;" onchange="document.getElementById('upload-form').submit();">
                  Импортировать файл
                </label>
              </form>
            </li>
            <li>
              <a href="{{ url_for('logout') }}">Выход</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="glass-div">
    <p class="form-header"><b>Виды работ</b></p>
    <div class="switchable-buttons">
      <button id="switchMajorRepairs" class="active" onclick="toggleForm('majorRepairsForm')">Капитальные</button>
      <button id="switchMaintenance" onclick="toggleForm('maintenanceForm')">По содержанию</button>
    </div>
    <div class="search_nav input-container"> <!-- Поиск -->
      <form>
        <input type="search" class="search-input" placeholder="Поиск..." name="search">
      </form>
      <button type="submit" class="submit-button">Сохранить изменения</button>
    </div>
    <form id="majorRepairsForm" class="form active">
      <div class="table-responsive table-container">
        <table>
          <tr>
            <th>Работа</th>
            <th>Адрес</th>
            <th>Дата</th>
            <th>Удаление</th>
          </tr>
          {% for row in table1 %}
          <tr>
            <td>{{ row['Работа'] }}</td>
            <td>{{ row['Адрес'] }}</td>
            <td>
              <input id="dateInput" type="text" class="date-input" value="{{ row['Дата'] }}" />
            </td>
            <td>
              <button class="delete-btn" onclick="deleteRow(event, 'major_repairs_results', {{ row['id'] }})">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </form>

    <form id="maintenanceForm" class="form">
      <div class="table-responsive table-container">
        <table>
          <tr>
            <th>Работа</th>
            <th>Адрес</th>
            <th>Удаление</th>
          </tr>
          {% for row in table2 %}
          <tr>
            <td>{{ row['Работа'] }}</td>
            <td>{{ row['Адрес'] }}</td>
            <td>{{ row['Дата'] }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </form>
  
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="{{ url_for('static', filename='js/editdate.js') }}"></script>
  <script>
    flatpickr("#dateInput", {
      dateFormat: "d-m-Y", // Формат даты (можно настроить по вашим потребностям)
      allowInput: true, // Разрешить ввод даты вручную
    });
  </script>
  <script>
    function toggleForm(formId) {
      var forms = document.getElementsByClassName('form');
      for (var i = 0; i < forms.length; i++) {
        forms[i].classList.remove('active');
      }
  
      document.getElementById(formId).classList.add('active');
  
      if (formId === 'maintenanceForm') {
        document.getElementById("switchMajorRepairs").classList.remove('active');
        document.getElementById("switchMaintenance").classList.add('active');
      } else {
        document.getElementById("switchMaintenance").classList.remove('active');
        document.getElementById("switchMajorRepairs").classList.add('active');
      }
    }
  </script>
</body>
</html>