body {
    font-family: 'Times New Roman', Times, serif;
}
.container{
    margin: 0px 370px;
    color: #346FC7;
}

.color-txt{
    color: #B44545;
}

.mes{
    margin: 0px 1100px; 
    font-weight: bold;
    font-size: 36px;
    position: absolute;
    left: 10px;
}

.reg{
    
}
.form-box{
    background: rgba(0, 0, 0,0.7);    
    backdrop-filter: blur(5.5px);
    border-radius: 10px;
    
    width: 380px;
    height: 380px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1.2px solid rgba(0, 0, 0,.2);
    overflow: hidden;
}

.toggle-btn{
    padding: 10px 25px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: #fff;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    border-radius: 10px;
    background: #346FC7;
    transition: .5s;
}

.button-box{
    width: 220px;
    margin: 30px auto;
    position: relative;
}

.input-group{
    color: white;
    top: 120px;
    position: absolute;
    width: 280px;
    transition: .5s;             /* задержка */
}

.input-field{
    width: 100%;
    padding: 10px 0px;
    margin: 5px 0px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #494949;
    color: #fff;
    outline: 0;
    background: transparent;
}

.submit-btn{
    widows: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin-right: auto;
    background: #346FC7;
    border: 0;
    color: #fff;
    outline: none;
    border-radius: 10px;
   position: absolute;
   margin-top: 30px;
}

.checkbox{
    margin: 20px 10px 30px 0;
}

.span1{
    color: #346FC7;
    font-size: 12px;
    bottom: 60px;
    position: absolute;
}
#login{
    left: 50px;
}

#register{
    left: 450px;
}

.pas-btn.active{
    &::after{
        opacity: 0;
    }
}
.pas-btn{
    position: absolute;
    width: 30px;
    height: 20px;
    right: -2px;
    top: 55px;
    cursor: pointer;
    &::after{
        position: absolute;
        content: '';
        width: 18px;
    height: 1px;
    right: 10px;
    top: 9.5px;
    background: black;
    transform: rotate(45deg);
        transition: .3s all ease;
        opacity: 1;
    }
}

.pass-btn.active{
    &::after{
        opacity: 0;
    }
}
.pass-btn{
    position: absolute;
    width: 30px;
    height: 20px;
    right: -2px;
    top: 55px;
    cursor: pointer;
    &::after{
        position: absolute;
        content: '';
        width: 18px;
    height: 1px;
    right: 10px;
    top: 9.5px;
    background: black;
    transform: rotate(45deg);
        transition: .3s all ease;
        opacity: 1;
    }
}